openapi: "3.0.0"
info:
  description: "### Unofficial specification


    Free service hotline:0800 11 949 11
    "
  version: "1.0.0"
  title: "DRK Blutspendetermine API"

  contact:
    name: DRK Blutspendedienst
    url: "https://www.drk-blutspende.de/blutspendetermine"

servers:
  - url: "https://www.drk-blutspende.de/blutspendetermine"

tags:
  - name: termine

paths:
  /termine.rss:
    get:
      summary: Termine
      operationId: getTermineRSS
      description: Returns the events in XLM format
      tags:
        - termine
      responses:
        "200":
          description: OK
          content:
            application/rss+xml:
              schema:
                $ref: "#/components/schemas/rss"
        "500":
          description: Error

      parameters:
        - $ref: "#/components/parameters/date_from"
        - $ref: "#/components/parameters/date_to"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/county_id"
        - $ref: "#/components/parameters/term"

  /termine.pdf:
    get:
      summary: Termine
      operationId: getTerminePDF
      description: Returns the events in PDF format. Download via Swagger UI currently does not work due to a missing header of the API. The generated URL can simply be copied in a browser for download.

      tags:
        - termine
      responses:
        "200":
          description: A PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
      parameters:
        - $ref: "#/components/parameters/date_from"
        - $ref: "#/components/parameters/date_to"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/county_id"
        - $ref: "#/components/parameters/term"

components:
  schemas:
    rss:
      type: object
      properties:
        version:
          type: number
          example: 2.0
          xml:
            attribute: true
        channel:
          type: object
          properties:
            title:
              type: string
              example: DRK-Blutspendetermine
            description:
              type: string
              example: Sie sehen Blutspendeterminevom 19.10.2022 bis zum 04.11.2022
            link:
              type: string
              example: https://www.drk-blutspende.de/blutspendetermine/termine
            language:
              type: string
              example: de-de
            item:
              type: array
              items:
                type: object
                properties:
                  guid:
                    type: string
                    example: https://www.drk-blutspende.de/blutspendetermine/termine/256253
                  link:
                    type: string
                    example: https://www.drk-blutspende.de/blutspendetermine/termine/256253
                  title:
                    type: string
                    example: 64291 Darmstadt / Arheilgen am 19.10.2022 15:00 Uhr bis 20:30 Uhr
                  description:
                    type: string
                    example: "- Frankfurter Landstr.  153 - Zum Goldnen Löwen"

  parameters:
    date_from:
      in: query
      required: false
      name: date_from
      schema:
        type: string
        format: date
      description: ""
      example: "2022-10-12"
    date_to:
      in: query
      required: false
      name: date_to
      schema:
        type: string
        format: date
      description: ""
      example: "2022-12-14"
    radius:
      in: query
      required: false
      name: radius
      schema:
        type: string
      description: "Radius is only possible in combination with a postal code"
      example: "10"
    county_id:
      in: query
      required: false
      name: county_id
      schema:
        type: string
      # TODO check description
      description: ""
      example: ""
      # 06411 für Darmstadt (Kreisfreie Stadt)
    term:
      in: query
      required: false
      name: term
      schema:
        type: string
      description: ""
      examples:
        Stadtname:
          value: "Darmstadt"
          description: Name of the city / town or similar
        PLZ:
          value: "64287"
          description: "Can be used in combination with the radius parameter"
